html, body { 
  background-color:#000;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important;  
}

@keyframes onair {
  0% {text-shadow:0 0 10px #fff, 0 0 20px #00d2ff;}
  50% {text-shadow:none;}
  100% {text-shadow:0 0 10px #fff, 0 0 20px #00d2ff;}
}

@-webkit-keyframes onair {
  0% {text-shadow:0 0 10px #fff, 0 0 20px #00d2ff;}
  50% {text-shadow:none;}
  100% {text-shadow:0 0 10px #fff, 0 0 20px #00d2ff;}
}

.onair{
/*
http://cssdemos.tupence.co.uk/text-shadow.htm
*/
/*Use shadows to slowly build up the glow. The first shadow should be the colour of the text. Subsequent shadows are the colour you want the glow to be, all with no x or y offset and with increasing amounts of blur (the number of shadows you use depends on how big you want the glow to be).*/
-webkit-animation: onair 2.0s linear infinite;
-moz-animation: onair 2.0s linear infinite;
-ms-animation: onair 2.0s linear infinite;
-o-animation: onair 2.0s linear infinite;
animation: onair 2.0s linear infinite;
}

/*@keyframes circle {
  0% {box-shadow:0 0 10px #f00, 0 0 20px #fff;}
  50% {box-shadow:none;}
  100% {box-shadow:0 0 10px #f00, 0 0 20px #fff;}
}

@-webkit-keyframes circle {
  0% {box-shadow:0 0 10px #f00, 0 0 20px #fff;}
  50% {box-shadow:none;}
  100% {box-shadow:0 0 10px #f00, 0 0 20px #fff;}
}
*/
.circle {
margin-bottom:-8px;
display: inline-block;
white-space: nowrap;
background: #F00;
border-radius: 50%;
height: 34px;
width: 34px;

/*-webkit-animation: circle 2.0s linear infinite;
-moz-animation: circle 2.0s linear infinite;
-ms-animation: circle 2.0s linear infinite;
-o-animation: circle 2.0s linear infinite;
animation: circle 2.0s linear infinite;*/
}

body {
font-family:"Arial";
color:#fff;
}

details {
margin-bottom: -1px;
padding: 1px;
color: grey;
border:1px solid;
border-radius:2px;
}
summary {
border-bottom:1px solid;
margin-bottom:-2px;
}
.content {
 color: white;
 padding-top: 3px;
 padding-left: 3px;
}
/*
details:focus {*/
/*-webkit-details-marker { display:none; }﻿
  */  /*outline: -webkit-focus-ring-color auto 5px;*/
/*    outline: none;*/
/*}*/
:focus {
   outline: none;
}
/*details summary::-webkit-details-marker { display:none; }
*/

@keyframes loading {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes loading {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.loading {
        opacity: 0;
        width: 190px;
        height: 200px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

-webkit-animation: loading 3.0s linear;
-moz-animation: loading 3.0s linear;
-ms-animation: loading 3.0s linear;
-o-animation: loading 3.0s linear;
animation: loading 3.0s linear;
}

